<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>CLI | Command Line Interface</title>
  <meta name="title" content="CLI | jQuery Command Line Interface">
  <meta name="description" content="Simulating a command line interface to display info using jQuery">
  <link href="../css/style.css" rel="stylesheet">
</head>
<body>

<main>
    <p> An open source calculator, you can see our <a target="_blank" href="/dashboard">dashboard </a> ,
        <a target="_blank" href="/Documentation/v1/">Getting start guide </a> ,
        <a target="_blank" href="/Documentation/v1/API">API guide </a>,
        <a target="_blank" href="/Documentation/v1/CLI">CLI guide </a> ,
        or download the source code from  <a target="_blank" href="https://github.com/omerahmed41/Software-calculator.git">git hub</a> </p>
<section id="home">
<h2>CLI - Command Line Interface Simulation- Software Calculator</h2>

    {% if state %}
        <p>Started Calculating: finput </p>
      {% for step in  result[1] %}
        <p>  {{step}}.</p>
      {% endfor %}
        <p>result:  {{result[0]}}.</p>
        {% elseif message and finput %}
        {{ message }}
    {% endif %}
<p><span>Enter the Equation then press <kbd>Enter</kbd> </span></p>
</section>

<form action="#" method="post">
  <span class="command">Enter Equation:/$<input type="text" id="finput" name="finput" value="1+2"></span>
  <input type="submit" value="Submit">
</form> 

</main>

<script src="../js/app.js"></script>
</body>
</html>
